{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mastermind</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,800,800italic' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" href="normalize.js">
    <link rel="stylesheet" href="main.css">

    <style>
        .modal {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1050;
            display: none;
            overflow: hidden;
            outline: 0;
        }

        .modal-content {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            pointer-events: auto;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, .2);
            border-radius: .3rem;
            outline: 0;
        }

        .modal-content {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            pointer-events: auto;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, .2);
            border-radius: .3rem;
            outline: 0;
        }

        .modal-body {
            position: relative;
            -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            padding: 1rem;
        }
    </style>
</head>

<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->


<div class="wrapper">
    <div class="header">
        <a class="logo">
            <img src="https://technothlon.techniche.org.in/images/technothlon.png" class="img-responsive"
                 style="height: 30px; width:125px; margin: auto; margin-top: 0%; margin-bottom: 2.5%">
        </a>
        <div style="color: black;">
            <div style="color: black; display: inline ; margin-right: 10vw;height: 30px; font-weight: bolder;font-size: xx-large;" class="header-right"><label id="minutes">00</label> : <label id="seconds">00</label></div>

            <div class="header-right" id="painting1_final">
                <a class="active">Rules</a>
            </div>
            <div id="painting1_final_modal" class="modal">
                <div class="modal-content">
                    <span id="painting_close1" style="cursor: pointer;font-size: 25px;">&times;</span>
                    <div class="modal-body">
                        <strong> Instructions:-</strong>  <br> <br>
                        
                        <strong>  ↠   </strong>Guess the pattern in terms of color, position and number. <br>

                        <strong>  ↠   </strong>Insert your guess sequence into empty socket from bottom.  <br>

                        <strong>  ↠   </strong>Feedback is provided on right side in form of black, red and white pegs. <br>

                        <strong>  ↠   </strong>Black peg corresponds to one peg from your sequence that is right in all color, position and
                            number . <br>

                            <strong>  ↠   </strong>Red peg corresponds to one peg from your sequence that is correct in any 2 among color,
                            position
                            and number <br>

                            <strong>  ↠   </strong>White peg corresponds to one peg from your sequence that is correct only with number or
                            color  <br>

                            <strong>  ↠   </strong>Priority order for getting hint pegs is black>red>white. <br>
                            <strong>  ↠   </strong>If a guess peg in your sequence
                            gets 
                            black peg it is not eligible for red or white peg.  <br>
                            <strong>  ↠   </strong>Then, if a guess in your sequence gets red peg it is not eligible for white peg.
                            <br>

                            <br>


                            <strong>  Hints pegs are alloted randomly (i.e. in no particular order of sequence)  </strong>

                            <br>  <br>

                            <strong> Marking scheme:- </strong> <br> 
                            Points for black >red >white  <br>
                            Points for bottom rows> top rows  <br>
                        
                    </div>
                </div>
            </div>
        </div>

    </div>
    <section class="one clearfix">
        <div class="right_board">
            <div id="guesses">
                <div class="code row">
                    <div class="secret socket">?</div>
                    <div class="secret socket">?</div>
                    <div class="secret socket">?</div>
                    <div class="secret socket">?</div>
                </div>
                <div class="guess">
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                </div>
                <div class="guess">
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                </div>
                <div class="guess">
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                </div>
                <div class="guess">
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                </div>
                <div class="guess">
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                </div>
                <div class="guess">
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                </div>
                <div class="guess">
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                </div>
                <div class="guess">
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                </div>
                <div class="guess">
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                </div>
                <div class="guess">
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                </div>
                <div class="guess">
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                </div>
                <div class="guess">
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                </div>
                <div class="guess">
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                </div>
                <div class="guess">
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                </div>
                <div class="guess">
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                </div>
                <div class="guess">
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                </div>
                <div class="guess">
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                </div>
                <div class="guess">
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                </div>
                <div class="guess">
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                </div>
                <div class="guess">
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                    <div class="socket"></div>
                </div>
            </div>

            <div id="hints">
                <div class="hint">
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                </div>
                <div class="hint">
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                </div>
                <div class="hint">
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                </div>
                <div class="hint">
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                </div>
                <div class="hint">
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                </div>
                <div class="hint">
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                </div>
                <div class="hint">
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                </div>
                <div class="hint">
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                </div>
                <div class="hint">
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                </div>
                <div class="hint">
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                </div>
                <div class="hint">
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                </div>
                <div class="hint">
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                </div>
                <div class="hint">
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                </div>
                <div class="hint">
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                </div>
                <div class="hint">
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                </div>
                <div class="hint">
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                </div>
                <div class="hint">
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                </div>
                <div class="hint">
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                </div>
                <div class="hint">
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                </div>
                <div class="hint">
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                    <div class="row">
                        <div class="js-hint-socket socket"></div>
                        <div class="js-hint-socket socket"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="instructions">
            <h3>How to play</h3>
            <p><strong>Goal:</strong> Guess the pattern, in both order and color</p>
            <p>Insert your guess sequence into the empty sockets</p>
            <p>Feedback is provided on the right side in the form of black and white pegs.
            <ul>
                <li>Black peg corresponds to one peg from your color sequence that is both the right color and in the
                    right position
                </li>
                <li>White peg corresponds to one peg from your color sequence that is the right color but NOT in the
                    right position
                </li>
            </ul>
            </p>
        </div>
        <div class="left_board">
            <div id="options" class="container">
                <button value="1" id="green_one" class="option green_one"></button>
                <button value="4" id="purple_one" class="option purple_one"></button>
                <button value="7" id="red_one" class="option red_one"></button>
                <button value="10" id="yellow_one" class="option yellow_one"></button>
                <button value="13" id="blue_one" class="option blue_one"></button>
                <button value="16" id="brown_one" class="option brown_one"></button>
            </div>
            <div id="options" class="container">
                <button value="2" id="green_two" class="option green_two"></button>
                <button value="5" id="purple_two" class="option purple_two"></button>
                <button value="8" id="red_two" class="option red_two"></button>
                <button value="11" id="yellow_two" class="option yellow_two"></button>
                <button value="14" id="blue_two" class="option blue_two"></button>
                <button value="17" id="brown_two" class="option brown_two"></button>
            </div>
            <div id="options" class="container">
                <button value="3" id="green_three" class="option green_three"></button>
                <button value="6" id="purple_three" class="option purple_three"></button>
                <button value="9" id="red_three" class="option red_three"></button>
                <button value="12" id="yellow_three" class="option yellow_three"></button>
                <button value="15" id="blue_three" class="option blue_three"></button>
                <button value="18" id="brown_three" class="option brown_three"></button>
            </div>

            <button id="delete" class="">&#8672;</button>
            <br>

            <button type="button" id="submit" class="green1" style="margin-left: 10%;margin-top: 12%; color: #333;">SUBMIT</button>
            <button type="button" class="green2" style="margin-left: 40%;margin-top: 12%; color: #333;"><a
                    href="{% url 'thirdyear' %}">SKIP</a></button>


            <!-- <button type="button" id="newGame" class="green" style="margin-left: 40%;margin-top: 12%;"><a
                    href="#">SUBMIT</a></button> -->
            <!-- <button id="submit" type="button" class="green" style="margin-left: 40%;margin-top: 12%;"><a href="#">SUBMIT</a> -->


            <!-- <button type="button" class="green" style="margin-left: 40%;margin-top: 12%;"><a href="#">SKIP</a></button> -->


            </button>
            <br><br><br>
            <br>
            <br>
        </div>
    </section>
</div>
<br>

<footer>

    <p>Technothlon<br>
        Copyright &copy 2019-20
        <br>All rights reserved.</p>

</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="main.js"></script>

<script>
    var modal1 = document.getElementById("painting1_final_modal");
    var img1 = document.getElementById("painting1_final");
    // var span1 = document.getElementsByClassName("close")[0];
    img1.onclick = function () {
        modal1.style.display = "block";

    }
    $('#painting_close1').on('click', () => {
        modal1.style.display = "none";
    });

</script>

<script>
    $('#submit').on('click', () => {
        // let total_square = $('#puzzle').find('.square').length;
        // console.log($('#puzzle').find('.square').eq(1).text());
        // for (let i = 0; i < 15; i++) }
        //     submittedCrossword[i] = new Array(15);
        // var k = 0;
        // for (let i = 0; i < 15; i++) }
        //     for (let j = 0; j < 15; j++) }
        //         submittedCrossword[i][j] = $('#puzzle').find('.square').eq(k).text();
        //         k++;
        //     }
        // console.log(submittedCrossword);

        $.ajax({
            type: "POST",
            url: "{%url 'mastermind_submission' %}",
            data: {
                'mastermind_solver': score,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            dataType: 'json',
            success: function (data) {
                alert("Your response have been submitted");
                window.location.href = "{% url 'thirdyear' %}"
            }
        });
    });

</script>

</footer>
</body>

</html>